html {
    background: beige;
}

body {
    background: #dbcd93;
    font-family: "Arial";
    font-size: 14px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}
